<h1>Detalle de estudiante</h1>

<div *ngIf="(estudiante$ | async )  as es">
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput > {{es.nombre }}
        </mat-form-field>
    </form>
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput > {{es.apellido }}
        </mat-form-field>
    </form>
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput > {{es.edad }}
        </mat-form-field>
    </form>
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <input matInput > {{es.curso }}
        </mat-form-field>
        
    </form>
</div>

<div *ngIf="!(estudiante$ | async)">
    <p>No se encontró el estudiante</p>
</div>